body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    background-color: #20262b;
}

nav {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: auto;
    background-color: #20262b;
    border-radius: 6px;
    transition: 0.1s;
    cursor: pointer;
    font-size: 14px;
    min-height: 50px;
    margin-bottom: 10px;
    color: #fff;
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.05);
}

.nav-menu {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu-item {
    list-style: none;
}

.menu-item a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    padding: 0;
}

.sub-menu .menu-item a {
    border: none;
    padding: 0;
}

.sub-menu {
    display: none;
    background-color: #20262b;
    z-index: 10;

}

.search-block img {
    width: 25px;
    filter: invert(1);
    cursor: pointer;
}

.search-block img.active {
    z-index: 11;
    filter: brightness(0.5);
    position: absolute;
    top: -15px;
}

.search-block img.inactive {
    filter: invert(1);
    z-index: 1;
    position: static;
    top: 0;
}

.search-block {
    margin: 6px 0 0 20px;
    position: relative;
}

input.search-input {
    height: 30px;
    width: 280px;
    max-width: 280px;
    border-radius: 5px;
    background-color: #ebe9e9;
    font-size: 16px;
    padding: 5px 5px 5px 20px;
    border: none;
    position: absolute;
    right: -34px;
    top: -23px;
    transition: 0.3s ease-in-out max-width;
}

input.search-input.hide {
    max-width: 0px;
}

input.search-input.open {
    width: 280px;
    transform: translateX(50px);
}

.search-content {
    position: absolute;
    border: 1px solid;
    width: 303px;
    right: -34px;
    background-color: #ffffff;
    min-height: 50px;
    margin-top: 3px;
    display: none;
    top: 15px;
    z-index: 10;
    max-height: 500px;
    overflow: scroll;
}

ul.search-content-list-items {
    margin: 0;
    padding: 5px;
}

ul.search-content-list-items li {
    list-style: none;
    display: none;
}

.search-reference {
    font-size: 14px;
    color: #000;
    text-decoration: none;
}


.block-tasks {
    margin: 50px auto;
}

.result {
    min-height: 20px;
}

.icon-pre {
    position: absolute;
    border: 1px solid;
    background-color: #fff;
    padding: 10px;
    display: none;
    font-size: 13px;
    z-index: 1;    
    right: 0;
}

.icon-pre.open,
.helper-block-popup.open {
    display: block;
}

.task {
    width: 47%;
    position: relative;
    border: solid 1px;
    padding: 0 10px;
    margin: 10px 0;
}

.working-tasks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon {
    position: absolute;
    right: 6px;
    top: 0;
    font-size: 20px;
    cursor: pointer;
}

.text-task {
    margin-top: 25px;
}

.task input {
    width: 80%;
}

.block-table td {
    width: 120px;
    height: 30px;
    border: 1px solid #000;
}

.block-table table {
    margin-top: 20px;
    border: 1px solid #000;
    border-spacing: 0;
}

.block-table {
    margin-bottom: 10px;
}

.block-table-square td {
    width: 30px;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.task-three-pafagraf span,
.task-two-pafagraf span {
    border: 1px solid;
}

.new-reference {
    display: block;
}

.varning {
    background-color: red;
}

.more-info {
    column-count: 4;
}

.task-three-products {
    display: flex;
    justify-content: space-around;
}

.zindex {
    z-index: 100;
}

.task-one-list-items .sub-menu {
    display: none;
}

.open,
.task-one-list-items .open,
.task .popup.open {
    display: block;
}

.task .popup {
    border: 1px solid;
    width: 500px;
    padding: 20px;
    display: none;
    margin: 25px auto;
}

.task .close-popup {
    float: right;
    cursor: pointer;
}

.task .popup p {
    margin-top: 30px;
}


.block-points {
    width: 500px;
    height: 100px;
    border: 1px solid;
    position: relative;
    margin: 20px auto;
}

.block-points .point {
    width: 5px;
    height: 5px;
    background-color: #000;
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
}

.task .checkbox-inline {
    width: auto;
}

.task-seven-card-add {
    display: flex;
    flex-wrap: wrap;
}

.task-seven-card-add .play-card {
    width: 120px;
    height: 170px;
    border: 3px solid;
    border-radius: 10px;
    margin: 20px;
    position: relative;
}

.task-seven-card-add .min-icon {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.task-seven-card-add .min-icon img {
    width: 13px;
}

.task-seven-card-add .min-icon.reverce {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(180deg);

}

.task-seven-card-add .card-icon {
    width: 50%;
    height: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.task-seven-card-add .card-icon img {
    width: 100%;
    margin-top: 12px;
}

.task .radio-line,
.task .checkbox-line {
    width: auto;
    margin-top: 5px;
}

.task-four-block-checkbox {
    display: inline;
}

.closed {
    width: 19px;
    height: 17px;
    z-index: 10;
    position: absolute;
}

.new-point {
    width: 18px;
    height: 19px;
    position: absolute;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
}

/* Умножение чисел столбиком*/

.number-result p {
    margin: 0;
}

.number-result p:nth-child(2) {
    border-bottom: 1px solid;
}

.number-result {
    width: max-content;
    margin: 20px;
    text-align: right;
}

.number-result .line {
    border-top: 1px solid;
}

.output-block {
    width: 600px;
    height: 200px;
    border: 1px solid;
    left: 45%;
    top: 0;
    transform: translateY(-800px);
    margin: auto;
}

.text-task img {
    width: 180px;
    display: block;
}


.helper-block-popup {
    z-index: 1;
    position: absolute;
    border: solid 1px;
    width: 200px;
    padding: 10px;
    height: auto;
    display: none;
    background: white;
}

.helper-block {
    border: 1px solid;
    padding: 20px;
    margin: 20px 0 20px 0;
}

.task-two-block.helper-block-popup .close-popup {
    margin-top: -8px;
}

/* деление чисел столбиком*/

.result-dividing-numbers {
    margin: 20px 0 0 100px;
    display: flex;
}

.result-dividing-numbers.divider {
    padding-right: 10px;
}

.result-dividing-numbers p.dividendP {
    margin: 0;

}

.result-dividing-numbers .dividerP {
    margin: 0;
    padding-left: 5px;
    border-left: 1px solid;
}

.result-dividing-numbers .quotient {
    margin: 0;
    padding-left: 5px;
    border-top: 1px solid;
    border-left: 1px solid;
}

.result-dividing-numbers .rez {
    margin: 0;
    border-bottom: 1px solid;
    width: fit-content;
}

.result-dividing-numbers .minus {
    margin: 0;
}

.result-dividing-numbers .rez:last-child {
    border-bottom: none
}

/* Часы */

.clock-timer {
    display: flex;
}

.clock-timer p {
    text-align: center;
    border: solid 1px;
    padding: 15px;
    background: lightgreen;
    margin: 10px;
    font-size: 20px;
    width: 60px;
    font-weight: 600;
}

.clock-timer span {
    display: block;
    font-weight: 400;
    font-size: 14px;
}

footer {
    background-color: #20262b;
    padding: 50px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-page h2 {
    text-transform: uppercase;
}

.home-page .skill {
    background-color: #20262b;
    color: #fff;
    margin: 5px;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.skill:hover {
    transform: scale(1.2);
}

.block-home {
    margin: 40px 0;
}

.experience td {
    vertical-align: baseline;
}

.experience td p {
    margin: 5px;
}

.experience td .dateJob {
    opacity: 0.8;
    margin-top: 5px;
    margin: 0;
}

.education p {
    margin: 5px;
}

.block-home table td:last-child {
    width: 80%;
}

.block-home table {
    width: 100%;
}

.list-items img {
    width: 25px;
}

.list-items li {
    list-style: none;
}

.list-items {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.list-items img {
    width: 25px;
    margin: 0 10px;
    transition: 0.3s;
}

.reverce-img {
    filter: invert(1);
}

a:hover {
    color: #ffaeae;
}

.list-items img:hover {
    transform: scale(1.2);
}

.menu-item .not-ready {
    color: red;
}

canvas {
    border: 1px solid black;
}

.seaBattle:before {
    content: '1 2 3 4 5 6 7 8 9 10';
    /* width: 100%; */
    /* display: block; */
    position: absolute;
    margin-top: -20px;
    word-wrap: 10px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-left: 12px;
}

/*.seaBattle tr:first-child::before {
    content: 'A';
    position: absolute;
    margin-top: 8px;
    word-wrap: 10px;
    font-weight: 600;
    letter-spacing: 10px;
    margin-left: -20px;
}*/

.countdown div {
    border: 1px solid;
    /* width: 50px; */
    /* height: 50px; */
    text-align: center;
    padding: 15px;
    min-height: 18px;
}

.countdown {
    display: flex;
}

/* Форма localStorage 10-8*/

form.task-four-form {
    margin-bottom: 20px;
}

form.task-four-form input {
    margin: 5px 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
}

form.task-four-form textarea {
    margin: 5px 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
}

form.task-four-form select {
    margin: 5px 0;
    border: 1px solid;
    padding: 10px;
    border-radius: 4px;
    width: 84%;
}

form.task-four-form option {
    padding: 10px;
}

form.task-four-form .input-inline-lang label {
    margin: 10px 5px;
    display: flex;
    align-items: center;
}

form.task-four-form .input-inline-lang input[name=lang-choose] {
    width: auto;
    display: block;
    margin-left: 10px;
}

.task .checkbox-inline {
    margin-left: 3px;
    margin-right: 20px;
}

/* НОК */
.block-nok {
    display: flex;
}

.block-num-nok {
    display: flex;
    text-align: right;
    width: 150px;
}

.block-num-nok .block-left {
    border-right: 1px solid;
    padding-right: 10px;
    margin-bottom: 10px;
}

.block-num-nok .block-right {
    padding-left: 10px;
}

.result-nok {
    flex-shrink: -1;
    flex: 1 1 100%;
    margin-top: 10px;
}